body{
    background-color: aqua;
}
.home , a {
 
    color:blueviolet;
  
}
hr{
    margin-bottom: -20px;
}
.hr1{
    margin-bottom: 10px;
}
.types{
    background-color: red;
    text-align: center;
}
.line{
    border: none;
}